# Program: Artificial Intelligence and Data Science
# Student ID: <202115576>

#### Exercise 1

```python
    (venv) C:\Users\welcome>python
    Python 3.9.7 (tags/v3.9.7:1016ef3, Aug 30 2021, 20:19:38) [MSC v.1929 64 bit (AMD64)] on win32
    Type "help", "copyright", "credits" or "license" for more information.
    >>> print('hello world')
    hello world
    >>>
```

#### Exercise 2

```python
    >>> type(932)
    <class 'int'>
    >>> type('University of Hull')
    <class 'str'>
    >>> type(3.303)
    <class 'float'>
    >>> type(True)
    <class 'bool'>
    >>> type(None)
    <class 'NoneType'>
    >>> type(3+3j)
    <class 'complex'>
    >>> alist = ['osagie', 'male', 'NGA']
    >>> type(alist)
    <class 'list'>
    >>> atuple = ('princess', 'female', 'UK')
    >>> type(atuple)
    <class 'tuple'>
    >>> adict = {'first_name': ['osagie', 'princess'], 'gender': ['male', 'female'], 'country': ['NGA', 'UK']}
    >>> type(adict)
    <class 'dict'>
```

#### Exercise 3

```python
    >>> str(932)
    '932'
    >>> float(932)
    932.0
    >>> int(933.6)
    933
    >>> list(atuple)
    ['princess', 'female', 'UK']
    >>> tuple(alist)
    ('osagie', 'male', 'NGA')
```

#### Exercise 4

```python
    >>> type(3+4)
    <class 'int'>
    >>> type(3.0+4)
    <class 'float'>
    >>> type(37%7**2)
    <class 'int'>
    >>> type('bob'+'cat')
    <class 'str'>
    >>> type('bob'/'cat')
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    TypeError: unsupported operand type(s) for /: 'str' and 'str'
    >>> type("banana"+"na"*20)
    <class 'str'>
    >>> type("banana"-"na")
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    TypeError: unsupported operand type(s) for -: 'str' and 'str'
```

#### Exercise 5

```python
>>> 12+28/7*2
20.0
```
1. The result of the above expression is 20, because:

    step 1: 28/7 ==> 4;

    step 2: 4 * 2 ==> 8;

    step 3: 12 + 8 ==> 20.


2. The overall type of the result is float, because a division operation always results in a floating point number.




3. As given below:
```python
    >>> 12 + ( (28/7) * 2)
    20.0
    ```

#### Exercise 6

```python
    >>> ft, ns = 42.0, 97
    >>> ft+ns
    139.0
    >>> ft-ns
    -55.0
    >>> ft/ns
    0.4329896907216495
    >>> ft*ns
    4074.0
    >>> addn = ft+ns
    >>> subn = ft-ns
    >>> divn = ft/ns
    >>> muln = ft*ns
    >>> print(addn, subn, muln, divn)
    139.0 -55.0 4074.0 0.4329896907216495
    >>> print("Addition: {}, Subtraction: {}, Multiplication: {}, Division: {}".format(addn, subn, muln, divn))
    Addition: 139.0, Subtraction: -55.0, Multiplication: 4074.0, Division: 0.4329896907216495
    >>> 
```

#### Exercise 7

```python
>>> ft = "banana"+"na"*20
>>> print(ft)
banananananananananananananananananananananana
```

#### Exercise 8

In [3]:
print('Hello world')

Hello world

In [4]:
type(932)

int

In [5]:
type('University of Hull')

str

In [6]:
type(3.303)

float

In [7]:
type(True)

bool

In [8]:
type(None)

NoneType

In [9]:
type(3+3j)

complex

In [10]:
alist = ['osagie', 'male', 'NGA']
type(alist)

list

In [11]:
atuple = ('princess', 'female', 'UK')
type(atuple)

tuple

In [13]:
adict = {'first_name': ['osagie', 'princess'], 'gender': ['male', 'female'], 'country': ['NGA', 'UK']}
type(adict)

dict

In [14]:
str(932)

'932'

In [15]:
float(932)

932.0

In [16]:
list(atuple)

['princess', 'female', 'UK']

In [17]:
tuple(alist)

('osagie', 'male', 'NGA')

In [18]:
 type(3+4)

int

In [19]:
type(3.0+4)

float

In [20]:
type(37%7**2)

int

In [21]:
type('bob'+'cat')

str

In [22]:
type('bob'/'cat')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [23]:
type("banana"+"na"*20)

str

In [24]:
type("banana"-"na")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [25]:
12+28/7*2

20.0

In [26]:
12 + ( (28/7) * 2)

20.0

In [27]:
ft, ns = 42.0, 97

In [28]:
 ft+ns

139.0

In [29]:
ft-ns

-55.0

In [30]:
ft/ns

0.4329896907216495

In [31]:
ft*ns

4074.0

In [32]:
addn = ft+ns
subn = ft-ns
divn = ft/ns
muln = ft*ns

In [33]:
print(addn, subn, muln, divn)

139.0 -55.0 4074.0 0.4329896907216495

In [34]:
print("Addition: {}, Subtraction: {}, Multiplication: {}, Division: {}".format(addn, subn, muln, divn))

Addition: 139.0, Subtraction: -55.0, Multiplication: 4074.0, Division: 0.4329896907216495

#### Exercise 10

In [1]:
'ada' < 'bill'

True

In [2]:
'ada' < 'adb'

True

In [3]:
'ada' < 'adalovelace'

True

In [4]:
'adag' < 'adab'

False

#### Exercise 11

In [5]:
their_name = input('What is your name?: ')
if their_name.lower() == 'osagie':
    print("I'm called that too")

What is your name?: blessing

#### Exercise 12

In [16]:
their_name = input('What is your name?: ')
if their_name.lower() in ['osagie', 'aibangbee']:
    print("I'm called that too")

What is your name?: Aibangbee
I'm called that too

#### Alternatively

In [17]:
their_name = input('What is your name?: ')
if (their_name.lower() == 'osagie') or (their_name.lower() == 'aibangbee'):
    print("I'm called that too")

What is your name?: Elliot

#### Exercise 13

|a|b|c|a and b|(a and b) or c|
| --- | --- | --- | ------- | ------- |
|True|True|True|True|True|
|True|False|True|False|True|
|False|True|True|False|True|
|False|False|True|**False**|True|
|True|True|False|True|True|
|True|False|False|False|False|
|False|True|False|False|False|

In [30]:
True and True

True

In [31]:
True or True

True

In [32]:
True and False

False

In [33]:
True or False

True

In [34]:
False and False

False

#### Exercise 14

|a|b|c|a and b|(a and b) or not c|
| --- | --- | --- | ------- | ------- |
|True|True|True|True|True|
|True|False|True|False|False|
|False|True|True|False|False|
|False|False|True|False|False|
|True|True|False|True|True|
|True|False|False|False|True|
|False|True|False|False|True|