# WORKSHOP2 TASK SOLUTION SHEET

#### Q1:
    Create a function that prints something to the screen when called

In [1]:
# creating the function
def my_amazing_func():
    print("Hello world! From my function")
    
# calling the function
my_amazing_func()

Hello world! From my function

#### Q2:
    Prove that my_amazing_func does not return anything

In [2]:
# First, assign a variable/name to the output of the function (my_amazing_func)
result = my_amazing_func()

# Next, print the stored returned value from the function (result) to the screen,
# as well as its type/class
print(result)
print(type(result))

Hello world! From my function
None
<class 'NoneType'>

#### Q3:
    Redefine my_amazing_func to only print the parameter it is given

In [3]:
# redefine my_amazing_func to print a parameter (the_thing_to_print)
def my_amazing_func(the_thing_to_print):
    print(the_thing_to_print)
    
# rerun the old code (without an argument)
my_amazing_func()

TypeError: my_amazing_func() missing 1 required positional argument: 'the_thing_to_print'

In [4]:
# We now provide an argument (of str type) to the function
my_amazing_func("This is a test")

This is a test

The above error message shows that my_amazing_func can no longer run successfully without an argument.<br>Because the new definition of the function expects the user to provide an argument when invoking it.

#### Q4:
    Alter the function by making the parameter have a default value

In [5]:
def my_amazing_func(thing_to_print='The default thing you want'):
    print(thing_to_print)
    
# invoke the func without providing an argument
my_amazing_func()

The default thing you want

#### Q5:
    Now call my_amazing_func with a new argument

In [6]:
my_amazing_func("Do what I say")

Do what I say

In [7]:
my_amazing_func(thing_to_print='Or what I ask')

Or what I ask

#### Q5:
    Import the random module (which is an inbuilt module), and use its functions

In [8]:
import random

In [9]:
# we can now use any function from the random module
# calling the randint function in the random module
randomly_selected_integer = random.randint(0, 10)
print(randomly_selected_integer)

0

In [10]:
# rerunning the code to show that an integer 
# is selected at random between the lesser and greater numbers
# given as arguments
randomly_selected_integer = random.randint(0, 10)
print(randomly_selected_integer)

6

#### Q6:
    Print a random number 20 times using a for loop

In [11]:
for n in range(20):
    print( random.randint(1, 1000) )

356
130
728
360
583
231
709
514
905
152
672
303
943
813
147
901
42
259
180
300

In [13]:
for n in range(1, 21):
    print( n, random.randint(1, 1000) , sep=':\t')

1:	467
2:	610
3:	79
4:	505
5:	944
6:	517
7:	500
8:	114
9:	71
10:	464
11:	746
12:	383
13:	811
14:	614
15:	111
16:	517
17:	203
18:	351
19:	822
20:	889

#### Q7:
    Testing the scope of variables

In [12]:
a, b = 'Some outer scope string literal', 42

def some_func():
    print(a, b)
    
some_func()

Some outer scope string literal 42

In [13]:
def some_func(a, b):
    print(a, b)
    
some_func()

TypeError: some_func() missing 2 required positional arguments: 'a' and 'b'

In [14]:
some_func(a='new a', b='new b')

new a new b

In [1]:
print(c)

NameError: name 'c' is not defined

#### Q8:
    Define a function with a return value

In [15]:
def always_4():
    return 4

output = always_4()
print(output)

4

#### Q9:
    Define a function that adds two numeric inputs as its arguments and returns the result

In [16]:
def add_numbers(num1, num2):
    return num1 + num2

In [17]:
add_result = add_numbers(0, 3)
print(add_result)

3

#### Q10:
    Define a function that tells us where in the list the value, -1, is located. That is if the list contains -1

In [18]:
def find_negative_one(A):
    for ind in range(len(A)):
        if A[ind] == -1:
            return ind

In [19]:
A = [5, 2, 9, -1, 3, 12]
result = find_negative_one(A)
print(result)

3

In [20]:
A = [5, 2, 9, 3, 12, -1, 0]
result = find_negative_one(A)
print(result)

5

#### Q11:
    a) Check the output of the function when the list doesn't contain -1

In [21]:
A = [5, 2, 9, 3, 12, 0]
result = find_negative_one(A)
print(result)

None

The above result shows that the function does not return any value. Hence, the NoneType

In [22]:
def find_negative_one(A):
    for ind in range(len(A)):
        if A[ind] == -1:
            return ind
    return 'There is no -1 here'

In [23]:
A = [5, 2, 9, 3, 12, 0]
result = find_negative_one(A)
print(result)

There is no -1 here

#### Q12:
    a) Define a function which creates a dictionary record of students' grades from two separate lists of names and grades

In [24]:
def get_combined_namegrades(names, grades):
    return {names[ind]: grades[ind] for ind in range(len(names)) if len(names) == len(grades)}

In [25]:
student_records = get_combined_namegrades(['Ada', 'Bill', 'Charlie'], [98, 45, 63.2])
print(student_records)

{'Ada': 98, 'Bill': 45, 'Charlie': 63.2}

#### Q12:
    b) Update a dictionary with items from another dictionary

In [26]:
student_names, student_grades = ["Teri", "Johanna", "Tomas", "Piotr", "Grzegorz"], [35.0, 52.5, 37.8, 65.0, 64.8]
student_recs2 = get_combined_namegrades(student_names, student_grades)
print(student_recs2)

{'Teri': 35.0, 'Johanna': 52.5, 'Tomas': 37.8, 'Piotr': 65.0, 'Grzegorz': 64.8}

In [27]:
student_records.update(student_recs2)
print(student_records)

{'Ada': 98, 'Bill': 45, 'Charlie': 63.2, 'Teri': 35.0, 'Johanna': 52.5, 'Tomas': 37.8, 'Piotr': 65.0, 'Grzegorz': 64.8}

#### Q13:
    Using dictitionary comprehension, filter a dictionary based on a fixed condition

In [28]:
filtered_student_record = {name: grade for name, grade in student_records.items() if grade >= 65}
print(filtered_student_record)

{'Ada': 98, 'Piotr': 65.0}

#### Q14:
    Define a function that converts a score into a class of grade

In [29]:
def grade_to_classification(grade):
    if grade < 40:
        return 'Fail'
    elif 40 <= grade < 50:
        return 'Pass'
    elif 50 <= grade < 60:
        return '2:2'
    elif 60 <= grade < 70:
        return '2:1'
    else:
        return 'First'

In [30]:
grade_class = {name: grade_to_classification(grade) for name, grade in student_records.items()}
print(grade_class)

{'Ada': 'First', 'Bill': 'Pass', 'Charlie': '2:1', 'Teri': 'Fail', 'Johanna': '2:2', 'Tomas': 'Fail', 'Piotr': '2:1', 'Grzegorz': '2:1'}

#### Q15:
    Using list comprehension, convert a list of scores into class of grade

In [31]:
more_grades = [0.0, 50.0, 49.9, 79.0, 101.0, 65.0, 54.2, 48.2, 78.9]

print([grade_to_classification(more_grades[ind]) for ind in range(len(more_grades))])

['Fail', '2:2', 'Pass', 'First', 'First', '2:1', '2:2', 'Pass', 'First']

#### Q16:
    a) List out the class of grade of only those that failed

In [32]:
fail_result = [grade_to_classification(more_grades[ind]) for ind in range(len(more_grades)) if more_grades[ind] < 40]
print(fail_result)

['Fail']

In [33]:
# Alternatively:
print( [grade_class for grade_class in [grade_to_classification(more_grades[ind] ) for ind in range(len(more_grades)) ] if grade_class == 'Fail'])

['Fail']

    b) Number of students that failed

In [34]:
print("Number of students that failed:", len(fail_result))

Number of students that failed: 1

#### Q17:
    Using list comprehension, fix the maximum score to be 100. Any score above the maximum is changed to 100

In [35]:
more_grades = [0.0, 50.0, 49.9, 79.0, 101.0, 65.0, 54.2, 48.2, 78.9]

fixed_result = [more_grades[ind] if more_grades[ind] <= 100 else 100 for ind in range(len(more_grades)) ]
print(fixed_result)

[0.0, 50.0, 49.9, 79.0, 100, 65.0, 54.2, 48.2, 78.9]

#### Q18:
    Creating classes

In [36]:
class Student(object):
    pass

alex = Student()

#### Q19:
    Type check

In [37]:
print(isinstance(alex, Student))

True

In [38]:
# Alternatively:
print(type(alex) == Student)

True

#### Q20:
    Create a constructor method for the Student class

In [39]:
class Student(object):
    def __init__(self):
        print("This gets called when I make a new student")
        
alex = Student()

This gets called when I make a new student

#### Q21:
    Create a Student class with name and grade as parameters of the constructor method __init__

In [40]:
class Student(object):
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

In [41]:
alex = Student()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'grade'

Now, we have to provide two arguments, name and grade, when creating an instance of our Student class

#### Q22:
    Create a student object with appropriate arguments

In [42]:
osagie = Student(name='Osagie', grade=100)

#### Q23:
    Create a list of Student objects

In [43]:
some_students = [Student('Alex', 99), Student('Rob', 35.0), Student('Tasha', 70.0)]
print(some_students[0])

<__main__.Student object at 0x0000024AF468E250>

#### Q24:
    Create a grade classification method for our Student class

In [44]:
class Student(object):
    def __init__(self, name, grade,):
        self.name = name
        self.grade = grade
        
    def get_classification(self):
        if self.grade < 40:
            return 'Fail'
        elif 40 <= self.grade < 50:
            return 'Pass'
        elif 50 <= self.grade < 60:
            return '2:2'
        elif 60 <= self.grade < 70:
            return '2.1'
        else:
            return 'First'

In [45]:
alex = Student('Alex', 99)
print(alex.get_classification() )

First

In [46]:
rob = Student('Rob', 35.0)
print(rob.get_classification())

Fail

#### Extended Exercise 1: PALINDROME

In [47]:
# print( ''.join(vari[0].split(' ')) == ''.join(vari[0][::-1].split(' ')))
# print( ''.join(vari[1].split(' ')) == ''.join(vari[1][::-1].split(' ')))
# print( ''.join(vari[2].split(' ')) == ''.join(vari[2][::-1].split(' ')))

In [48]:
def palindrome_check(input_list):
    return [True if ''.join(input_list[ind].split(' ')) == ''.join(input_list[ind][::-1].split(' ')) else False for ind in range(len(input_list)) ]

inp_list = [ "taco cat", "bob", "davey" ]
print(palindrome_check(inp_list) )

[True, True, False]

In [49]:
vari = ['racecar', 'you are good', 'taco cat' ]
print(palindrome_check(vari) )

[True, False, True]

``-- THE END --``