___

## <center>DATA PROCESSING TASKS</center>

___

### NOTE: <br>
    In an attempt to implement the principle of encapsulation, and in trying to create a reusable application for this assignment, I applied object-oriented programming paradigm in performing the project tasks.
    Thus, a class called "CustomerDataPreProcessing" would be defined. And, I shall perform each assignment task via its methods.

#### Class Definition

In [1]:
import csv
import json
import os


class DataPreProcessing(object):
    def __init__(self):
        self.intro()
        # create folder 'Files' at current working directory for storing useful files
        os.makedirs(self.app_folder_loc, exist_ok=True)
        self.important_note()

    @property
    def app_name(self):
        return 'DataPreProcessing'

    @property
    def app_folder_loc(self):
        return f'{self.app_name}Output'

    @property
    def author_name(self):
        return 'Osagie Elliot Aibangbee'

    @property
    def author_st_id(self):
        return '202115576'

    @property
    def degree(self):
        return 'MSc Artificial Intelligence and Data Science'

    @property
    def module(self):
        return '771768'

    def intro(self):
        print(f"***{self.app_name} App***\n***November 2021***\n***By {self.author_name}***\n***" +
              f"Student ID: {self.author_st_id}***\n***Program: {self.degree}***\n***Module: {self.module}***")

    def important_note(self):
        print(f"\n\nNOTE:\nThis {self.app_name} app will automatically create a folder called {self.app_folder_loc}," +
              " if it does not already exist, in the current working directory.")
        print("This folder shall serve as a container for storing files produced by the app.")

    @staticmethod
    def read_from_csv(csv_fname: str) -> list:
        """
        using the csv module, read in data directly from a csv file
        and outputs a list of line_lists."""

        try:
            with open(csv_fname, mode='r', encoding='utf8') as csv_f:
                return [line for line in csv.reader(csv_f)]
        except Exception as err:
            print("Read-in operation failed!\nPlease make sure that file exists or check for spelling errors.")
            print(err)

    def read_from_json(self, json_fname: str, use_full_path: bool = False) -> list:
        """
        using the json module, read in data directly from a json file
        and outputs a list of line_dicts."""

        if use_full_path:
            try:
                with open(json_fname, mode='r', encoding='utf8') as json_f:
                    return json.load(json_f)
            except Exception as err:
                print(
                    f"Read-in operation failed!\nPlease make sure that file exists or check for spelling errors\n{err}")
        else:
            try:
                with open(f"{self.app_folder_loc}//{json_fname}", mode='r', encoding='utf8') as json_f:
                    return json.load(json_f)
            except Exception as err:
                print(
                    f"Read-in operation failed!\nPlease make sure that file exists or check for spelling errors\n{err}")

    def write_json_file_from_dictlist(self, json_fname: str, list_of_dict_obj: list, use_full_path: bool = False):
        """Write data from a list of dictionaries object in Python to a JSON file."""

        if use_full_path:
            try:
                with open(json_fname, mode='w') as json_f:
                    json.dump(list_of_dict_obj, json_f, indent=2)
                    print(json_fname)
            except Exception as err:
                print(f"Sorry, Please check your spellings.\n{err}")
        else:
            try:
                with open(f"{self.app_folder_loc}//{json_fname}", mode='w') as json_f:
                    json.dump(list_of_dict_obj, json_f, indent=2)
                    print(json_fname)
            except Exception as err:
                print(f"Sorry, Please check your spellings.\n{err}")

    def create_list_of_dicts(self, csv_fname_or_list: str or list or tuple, headers: list = None,
                             verbose: bool = True) -> list:
        """Create a list of dictionaries either from a csv file or a list of lists
        Params: 
        csv_fname_or_list: must be a str or a list
        if csv_fname_or_list is str: it's assumed to be the file name
        if csv_fname_or_list is list or tuple: it's assumed to be data
        Return:
        A list of dictionaries, where each dict is a row of feature,value pairs."""
        
        csv_data, header = None, None
        if isinstance(csv_fname_or_list, str):  # read directly from file, if csv file name is given as str
            csv_data = tuple(self.read_from_csv(csv_fname_or_list))
            header = tuple(self.get_header_from_csv(csv_fname_or_list))
        # directly use the given list of lists with no provided headers
        elif isinstance(csv_fname_or_list, (tuple, list)) and (headers is None or not len(headers)):
            csv_data = tuple(csv_fname_or_list)
            header = tuple(csv_data)[0]  # assume first row is headers

        elif isinstance(csv_fname_or_list, (tuple, list)) and len(headers):
            csv_data = tuple(csv_fname_or_list)  # use provided csv_data list
            header = headers  # use provided headers

        list_of_dicts = list()
        for line_index in range(len(csv_data)):
            if line_index == 0:  # ignore the header line
                continue
            line_dict = dict()  # new dict to keep track of each line header:data pairing
            for col_index in range(len(header)):  # going over the current line item one by one
                # pair the line item to its corresponding header
                line_dict[header[col_index]] = csv_data[line_index][col_index]
            list_of_dicts.append(line_dict)
        if verbose:
            print(f"There are {len(list_of_dicts)} rows, and {len(header)} columns in the output list of dictionaries")
        return list_of_dicts

    @staticmethod
    def create_list_of_lists(list_of_dicts: list) -> list:
        """Output a list of lists using data in a list of dictionaries
        Params: 
        list_of_dicts: must be a list of dictionaries
        Return:
        A list of lists, where each list is a row of values."""

        headers = list(list_of_dicts[0].keys())  # create list of column names to serve as headers row
        list_of_lists = [headers]  # container for data stored as a list of lists, with headers as the first list
        # get remaining rows from list_of_dicts
        for row_ind in range(len(list_of_dicts)):  # accessing each dictionary
            row_data = []  # container for row values
            for ind in range(len(headers)):  # accessing each column name
                # add column value according to order of column names in the headers tuple
                row_data.append(list_of_dicts[row_ind][headers[ind]])
            list_of_lists.append(row_data)
        return list_of_lists

    @staticmethod
    def display_lines_in_list(data_list: list, num_of_lines: int = -1) -> None:
        """Output to the screen the content of the given list, one after the other."""

        for ind in range(len(data_list)):
            print(f"{data_list[ind]}\n")
            if (num_of_lines != -1) and (ind == num_of_lines - 1):
                break

    def get_header_from_csv(self, csv_fname_or_list: str or list) -> list:
        """Get the first row in either a csv file or list of lists and Output as headers row."""

        if isinstance(csv_fname_or_list, str):
            return tuple(self.read_from_csv(csv_fname_or_list))[0]
        elif isinstance(csv_fname_or_list, (tuple, list)):
            return csv_fname_or_list[0]

    def classify_from_csv_data(self, csv_fname_or_list: str or list, categorize_as: str, search_keywords: list,
                               sub_categories: list = None, first_row_is_headers: bool = True, headers: list = None):
        """Create mini-dictionary representing a sub_group in each row of a set of data.
        Params:
        csv_fname_or_list: must be a str or a list of lists.
        if csv_fname_or_list is str: it's assumed to be the file name
        if csv_fname_or_list is list or tuple: it's assumed to be data.
        categorize_as: name of subgroup to serve as key in the mini dictionary.
        sub_categories: name of each key in the mini-dictionary.
        search_keywords: word(s) to search for in the headers row, and use their
        corresponding index to get values in subsequent rows.
        first_row_is_headers: indicator for knowing when to use the first row of csv data as headers.
        headers: for explicitly providing a list of headers, 
        usually needed when a headers row isn't in the csv data. 
        That is, first_row_is_headers is False."""

        # search kw is not a str, tuple, nor list
        if not isinstance(search_keywords, (tuple, list, str)) or not len(search_keywords):
            raise ValueError("Please provide a search tuple of strings")
        # no header row is given and first row in csv data is not header
        if not first_row_is_headers and not len(headers):
            raise ValueError("Please provide a header row")

        dict_rec = None
        # filename given and first row contains column names
        # or list of lists is given
        if (isinstance(csv_fname_or_list, str) or isinstance(csv_fname_or_list[0], list)) and first_row_is_headers:
            dict_rec = self.create_list_of_dicts(csv_fname_or_list)  # directly create dict from file or list of lists
        # filename or list of lists given, and list of headers was given
        elif ((isinstance(csv_fname_or_list, str) or isinstance(csv_fname_or_list[0], list))
              and not first_row_is_headers and len(headers) and isinstance(headers, (tuple, list))):
            dict_rec = self.create_list_of_dicts(csv_fname_or_list, headers=headers)
        # directly use list of dicts
        elif isinstance(csv_fname_or_list[0], dict):
            dict_rec = csv_fname_or_list
        if dict_rec is None:
            raise ValueError("Unknown data type found in list of data")
        return [self.categorize_data_in_dict(row, categorize_as, search_keywords, sub_categories)
                for row in dict_rec]

    @staticmethod
    def categorize_data_in_dict(record: dict, categorize_as: str, search_keywords: list,
                                sub_categories: list = None):
        """Takes a single dictionary and creates a new dictionary with a mini dictionary within.
        To be used internally by the .classify_from_csv_data() method"""

        if len(sub_categories) != len(search_keywords):
            raise Exception("Explicitly pass in a list of sub_categories having the same length as columns")
        if sub_categories is None or not len(sub_categories):  # list of sub_categories is not given explicitly
            sub_categories = search_keywords  # use default keys on record list
        new_rec = dict()
        for col_name in list(record.keys()):  # accessing each column on the record dictionary
            for col_ind in range(len(search_keywords)):
                if search_keywords[col_ind].lower() == col_name.lower():
                    new_rec[sub_categories[col_ind]] = record.pop(search_keywords[col_ind])
        record[categorize_as] = new_rec
        if not len(record):
            raise Exception('Empty dict output')
        return record

    @staticmethod
    def get_column_value(dict_line: dict, col_name: str):
        """Return the value of a feature from a dict row."""

        for col, val in dict_line.items():
            if col.lower() == col_name.lower():
                return val

    def get_col_values(self, dict_lines: list, col_name: str) -> list:
        """List the values of a column internally using the get_column_value() method"""
        
        return [self.get_column_value(dict_lines[ind], col_name) for ind in range(len(dict_lines))]

    @staticmethod
    def validate_empty_str(dict_list: list, col_name: str) -> list:
        """Replace blank str (ie, "" or " ") with None (ie, Python's representation for null values).
        Display the index position where they occurred.
        And return a new list of dictionaries with blank str values replaced with None."""

        empty_lines = list()
        for ind in range(len(dict_list)):
            if dict_list[ind][col_name] in ['', ' ']:
                empty_lines.append(ind)
                # change empty string to something meaningful
                dict_list[ind][col_name] = None

        print(f"Problematic rows for {col_name}: {empty_lines}")
        print(f"{len(empty_lines)} rows")
        return dict_list

    def filter_dictlist(self, dict_list: list, col_name: str, check_value: str,
                        use_opposite_cond: bool = False) -> list:
        """Filter a list of line_dicts based on the values of a given column."""

        if use_opposite_cond:
            filtered_list = [dict_list[ind] for ind in range(len(dict_list)) if
                             self.get_column_value(dict_list[ind], col_name) != check_value]
            print(f"Result now has {len(filtered_list)} customers")
            return filtered_list
        filtered_list = [dict_list[ind] for ind in range(len(dict_list)) if
                         self.get_column_value(dict_list[ind], col_name) == check_value]
        print(f"Result now has {len(filtered_list)} customers")
        return filtered_list

    @staticmethod
    def change_str_dtype(old_data: str, pref_type: type):
        """Change the datatype of str to another data type.
        Params:
        old_data: string value to be converted
        pref_type: new or preferred data type for string value.
        Note: only types int, float, or bool can be accepted as pref_type."""

        if not isinstance(old_data, str):  # input is not a string
            raise ValueError(
                f'Please enter a string for conversion.\nInstead of {old_data} which is a {type(old_data)}')
        if pref_type not in (int, float, bool, 'int', 'float', 'bool'):
            raise Exception(f'Enter int, float, or bool as pref_type argument.\nInstead of {old_data}')

        if pref_type in (int, 'int'):
            try:
                return int(old_data)
            except Exception as err:
                print(f"{err}\nData {old_data} ignored")
        elif pref_type in (float, 'float'):
            try:
                return float(old_data)
            except Exception as err:
                print(f"{err}\nData {old_data} ignored")
        elif pref_type in (bool, 'bool'):
            try:
                return eval(old_data)
            except Exception as err:
                print(f"{err}\nData {old_data} ignored")

    def convert_col_dtype(self, dict_list: list, col_name: str, pref_type: type) -> iter:
        """Use the change_str_dtype() method on a collection of column_names."""

        dicts_with_new_dtype = [self.change_str_dtype(dict_list[line_idx][col_name], pref_type) for line_idx in
                                range(len(dict_list))]
        for line_idx in range(len(dict_list)):
            dict_list[line_idx][col_name] = dicts_with_new_dtype[line_idx]
            yield dict_list[line_idx]

    def dtype_converter(self, csv_fname_or_list: str or list or tuple, converter_guide: dict):
        """Convert csv data from string into their assigned datatypes in converter dictionary
        Params:
        csv_fname_or_list: name of csv file or data in list
        if csv_fname_or_list is str, file name is assumed
        if csv_fname_or_list is list or tuple: it's assumed to be data
        converter: Here, the target datatype are the keys. While the column_names for conversion are the values.
        Using the converter dictionary as a guide, convert the values of each column/key in the dictionary 
        into a targe datatype, as specified by converter_guide keys.
        Return:
        data_list: a list of dictionaries."""

        dict_lines = None
        if isinstance(csv_fname_or_list, str):  # assume str is file name
            # read in csv file, AKA, original csv data, output is a list of lists
            csv_data = self.read_from_csv(csv_fname_or_list)
            # convert the original data format to a list of dicts
            dict_lines = self.create_list_of_dicts(csv_data, verbose=False)
        # assume list is list of dicts
        elif isinstance(csv_fname_or_list, (list, tuple)) and isinstance(csv_fname_or_list[0], dict):
            dict_lines = csv_fname_or_list
        # assume list is list of lists
        elif isinstance(csv_fname_or_list, (list, tuple)) and isinstance(csv_fname_or_list[0], list):
            # convert from list of lists format to list of dicts
            dict_lines = self.create_list_of_dicts(csv_fname_or_list, verbose=False)

        data_list, num_col_converted = list(), 0  # count of conversions done on columns
        for col_type, col_names in converter_guide.items():
            col_count = len(col_names)
            if isinstance(col_names, (list, tuple)) and (num_col_converted == 0) and (
                    col_count == 1):  # first conversion on a collection of one column
                # use original list of dictionaries (dict_lines) as data source
                data_list = tuple(self.convert_col_dtype(dict_lines, col_names[0], col_type))
                num_col_converted += 1
            # subsequent conversions on a collection of one column
            elif isinstance(col_names, (list, tuple)) and (num_col_converted != 0) and (col_count == 1):
                # continue using previously converted list of dictionaries (data_list) as data source
                data_list = tuple(self.convert_col_dtype(data_list, col_names[0], col_type))
                num_col_converted += 1
            elif isinstance(col_names, str) and (
                    num_col_converted == 0):  # first conversion directly on name of column given as str
                # use original list of dictionaries (dict_lines) as data source
                data_list = tuple(self.convert_col_dtype(dict_lines, col_names, col_type))
                num_col_converted += 1
            elif isinstance(col_names, str) and (
                    num_col_converted != 0):  # subsequent conversions directly on name of column given as str
                # continue using previously converted list of dictionaries (data_list) as data source
                data_list = tuple(self.convert_col_dtype(data_list, col_names, col_type))
                num_col_converted += 1
            # when a collection of multiple columns is given for conversion into the same datatype
            elif isinstance(col_names, (list, tuple)) and (col_count > 1):
                for name in col_names:  # accessing each column in the collection one at a time
                    if num_col_converted == 0:  # if this is the first conversion
                        # use original list of dictionaries (dict_lines) as data source
                        data_list = tuple(self.convert_col_dtype(dict_lines, name, col_type))
                        num_col_converted += 1
                        continue
                    # subsequent conversions on collection of multiple columns to same data type
                    # continue using previously converted list of dictionaries (data_list) as data source
                    data_list = tuple(self.convert_col_dtype(data_list, name, col_type))
                    num_col_converted += 1
        return data_list

    @staticmethod
    def get_date_int_from_str(date_str: str, separator: str = '/') -> tuple:
        """
        Date_str should be in dd/mm/yr or mm/yr format
        otherwise explicitly pass the separator character."""

        split_date = date_str.split(separator)
        if len(split_date) == 2:
            mm, yr = int(''.join(split_date[0])), int(''.join(split_date[1]))
            return mm, yr
        elif len(split_date) == 3:
            dd, mm, yr = int(''.join(split_date[0])), int(''.join(split_date[1])), int(''.join(split_date[2]))
            return dd, mm, yr

    def calculate_years_between_two_dates(self, cust_rec: dict, start_date: str, end_date: str) -> float:
        """Return the number of years between start and end date after considering the
        month and year values of both arguments.
        Get start and end dates from the customer record dict.
        Then pass the output string into the gen_date_int_from_str() method 
        which generates a tuple of integers for month and year
        Params:
        cust_rec: dictionary containing one customer's details.
        start_date: str of month and year values separated by /
        end_date: str of month and year values separated by /
        return:
        number of years (12 months/year) between both dates."""

        exp_yr, start_yr = None, None
        exp_mon, start_mon = None, None
        # continue the search into sub dicts, if not an outer key
        if start_date not in cust_rec.keys() or end_date not in cust_rec.keys():
            for col_name, value in cust_rec.items():
                if isinstance(value, dict):  # check keys of sub dictionaries
                    for mini_col, val in value.items():
                        if mini_col == start_date:
                            start_mon, start_yr = self.get_date_int_from_str(val)
                        if mini_col == end_date:
                            exp_mon, exp_yr = self.get_date_int_from_str(val)
        else:  # both start and end date columns are in the parent dictionary
            start_mon, start_yr = self.get_date_int_from_str(cust_rec[start_date])
            exp_mon, exp_yr = self.get_date_int_from_str(cust_rec[end_date])
        #         print(start_yr, start_mon)
        #         print(exp_yr, exp_mon)
        # calculate difference between expiry year and start year,
        # as well as, expiry month and start month
        if any([start_mon, start_yr, exp_mon, exp_yr]) is None:
            raise ValueError("None value detected!")
        yr_diff, mon_diff = (exp_yr - start_yr), (exp_mon - start_mon)

        if mon_diff >= 0:  # if expiry month is greater than or equal to start month
            return yr_diff  # year difference is taken
        return yr_diff - 1  # else: subtract 1 from year difference

    def cc_duration_is_above_decade_detector(self, cust_rec: dict, start_date_col_name: str,
                                             end_date_col_name: str) -> bool:
        """Returns True if years difference between end and start date is ABOVE 10 years.
        And False otherwise."""
        
        return self.calculate_years_between_two_dates(cust_rec, start_date_col_name, end_date_col_name) > 10

    def column1_per_column2_from_json_file(self, json_fname: str, col1: str, col2: str, new_col: str) -> list:
        """
        Reads data from a json file and 
        calculates col1/col2 in file record and 
        outputs a new list of records containing 
        the same data in json file with an additional 
        column for the result of our calculation."""

        json_data = self.read_from_json(json_fname)
        # print(json_data[:3])
        for ind in range(len(json_data)):
            if float(json_data[ind][col2]) > 1:
                col1_per_col2 = round(float(json_data[ind][col1]) / float(json_data[ind][col2]), 2)
            else:
                col1_per_col2 = round(float(json_data[ind][col1]), 2)
            json_data[ind][new_col] = col1_per_col2
        return sorted(json_data, key=lambda jdata: float(jdata[new_col]), reverse=0)

    @staticmethod
    def rename_keys(dict_rec: dict, old_names: list, new_names: list):
        """Change key from old to new."""
        
        if len(old_names) != len(new_names):
            raise ValueError("Please provide a matching number of old and new names")
        new_rec = dict()
        for name, val in dict_rec.items():
            if name not in old_names:
                new_rec[name] = val
                continue
            for ind in range(len(old_names)):
                if name.lower() == old_names[ind].lower():
                    new_rec[new_names[ind]] = val
        return new_rec

    def rename_col_names_in_json(self, json_fname_or_list: str or list, old_names: list, new_names: list):
        """Change the names of column from old_names to new_names."""
        
        json_data = None
        if isinstance(json_fname_or_list, str):
            json_data = self.read_from_json(json_fname_or_list)
        elif isinstance(json_fname_or_list, (list, tuple)):
            json_data = json_fname_or_list
        return [self.rename_keys(json_data[ind], old_names, new_names) for ind in range(len(json_data))]

    @staticmethod
    def sort_keys(dict_rec: dict, sort_keys_order: list):
        """Rearrange the order of appearance of each key, value pairing."""
        
        new_rec = dict()
        for ind in range(len(sort_keys_order)):
            for name, val in dict_rec.items():
                if name.lower() == sort_keys_order[ind].lower():
                    new_rec[name] = val
        for name, val in dict_rec.items():
            if name not in list(new_rec.keys()):
                new_rec[name] = val
        return new_rec

    def sort_col_names(self, cust_dict_list: list, sort_keys_order: list):
        """Rearrange the order of appearance of each row in a list of dictionaries."""
        
        return [self.sort_keys(cust_dict_list[ind], sort_keys_order) for ind in range(len(cust_dict_list))]

___

**Creating an instance/object, 'app', of the class 'CustomerDataPreProcessing'**

In [2]:
app = DataPreProcessing()

***DataPreProcessing App***
***November 2021***
***By Osagie Elliot Aibangbee***
***Student ID: 202115576***
***Program: MSc Artificial Intelligence and Data Science***
***Module: 771768***


NOTE:
This DataPreProcessing app will automatically create a folder called DataPreProcessingOutput, if it does not already exist, in the current working directory.
This folder shall serve as a container for storing files produced by the app.

___
### TASK 1:
Read in the provided ACW Data using the CSV library

#### SOLUTION:

In [3]:
fpath = 'acw_user_data.csv'
csv_data = app.read_from_csv(fpath)

**NOTE:**<br> The .read_from_csv() method above directly reads in data from a csv file and returns a list of lists.<br>
Each list inside the enclosing list represents one row of data.<br>And each row comprise several column values (23 columns in this case)

In [4]:
count = 3
print(f"There are {len(csv_data)} records in the {fpath} file.\nNote: with column names as first row.\n\nFirst {count} rows are:\n")
app.display_lines_in_list(csv_data, count)

There are 1001 records in the acw_user_data.csv file.
Note: with column names as first row.

First 3 rows are:

['Address Street', 'Address City', 'Address Postcode', 'Age (Years)', 'Distance Commuted to Work (miles)', 'Employer Company', 'Credit Card Start Date', 'Credit Card Expiry Date', 'Credit Card Number', 'Credit Card CVV', 'Dependants', 'First Name', 'Bank IBAN', 'Last Name', 'Marital Status', 'Yearly Pension (£)', 'Retired', 'Yearly Salary (£)', 'Sex', 'Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']

['70 Lydia isle', 'Lake Conor', 'S71 7XZ', '89', '0', 'N/A', '08/18', '11/27', '676373692463', '875', '3', 'Kieran', 'GB62PQKB71416034141571', 'Wilson', 'married or civil partner', '7257', 'True', '72838', 'Male', 'Hyundai', 'Bonneville', '2009', 'Pickup']

['00 Wheeler wells', 'Chapmanton', 'L2 7BT', '46', '13.72', 'Begum-Williams', '08/12', '11/26', '4529436854129855', '583', '1', 'Jonathan', 'GB37UMCO54540228728019', 'Thomas', 'married or civil partner', '0', 'False', '54016', 'Male', 'Nissan', 'ATS', '1996', 'Coupe']

___
### TASK 2: 
As a CSV file is an entirely flat file structure, we need to convert our data back into its 
rich structure. <br>
Convert all flat structures into nested structures.<br>
These are notably: <br>
a. Vehicle - consists of make, model, year, and type <br>
b. Credit Card - consists of start date, end date, number, security code, and 
IBAN.<br>
c. Address - consists of the main address, city, and postcode.<br>
For this task, it may be worthwhile inspecting the CSV headers to see which data 
columns may correspond to these above. <br>
``Note: Ensure that the values read in are appropriately cast to their respective types.``

#### SOLUTION:

Steps:<br>
a) First, change data types from str into more appropriate data types, where necessary.<br>
b) Next, I shall convert the data format from flat file structure into nested structures, as instructed.

In [5]:
fpath = 'acw_user_data.csv'
csv_dict_list = app.create_list_of_dicts(fpath)

There are 1000 rows, and 23 columns in the output list of dictionaries

The ***.create_list_of_dicts() method*** directly reads in data from a csv file using the .read_from_csv() method internally.<br>
Changing the structure of each row from a list to a dictionary,<br>
stores every row in an enveloping list.<br>
And returns the list of dictionary as its output.<br>
**Note:**<br>
The output list is one row less than the original data in the csv file, because the first row containing the column names has been dropped.

### <br><b>a) Data Type Conversion</b>

<br>**Note:**<br>
Currently, all the values in each column have a str datatype.<br>

Now, I shall change to type **float**:<br>
***a) 'Distance Commuted to Work (miles)'***<br>
    
To type **int**:<br>
***a) 'Age (Years)'<br>
b) 'Yearly Pension (£)'<br>
c) 'Yearly Salary (£)'<br>
d) 'Credit Card Number'<br>
e) 'Credit Card CVV'<br>
f) 'Vehicle Year'<br>
g) 'Dependants'<br>***

To type **bool**:<br>
***a) 'Retired'***<br>

As defined by the dictionary in the cell below:

In [6]:
converter = {'float': 'Distance Commuted to Work (miles)',
             'bool': 'Retired',
             'int': ('Age (Years)', 'Yearly Pension (£)', 'Yearly Salary (£)', 'Credit Card Number', 'Credit Card CVV', 'Vehicle Year', 'Dependants')}

**Note:** <br>
In the dictionary above, named converter, each key represents a target data type, and the values represent one or more column names to be converted.<br>
The "converter" serves to guide the process of converting each column into a target datatype, as accurately and efficiently as possible.

In [7]:
fpath = 'acw_user_data.csv'
csv_dict_list = app.dtype_converter(fpath, converter)

invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored

The above message simply means that any empty str ("", or '') encountered during conversion was skipped.

In [8]:
count = 3
print(f"{len(csv_dict_list)} records have been converted.\n\nFirst {count} rows are:")
app.display_lines_in_list(csv_dict_list, count)

1000 records have been converted.

First 3 rows are:
{'Address Street': '70 Lydia isle', 'Address City': 'Lake Conor', 'Address Postcode': 'S71 7XZ', 'Age (Years)': 89, 'Distance Commuted to Work (miles)': 0.0, 'Employer Company': 'N/A', 'Credit Card Start Date': '08/18', 'Credit Card Expiry Date': '11/27', 'Credit Card Number': 676373692463, 'Credit Card CVV': 875, 'Dependants': 3, 'First Name': 'Kieran', 'Bank IBAN': 'GB62PQKB71416034141571', 'Last Name': 'Wilson', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 7257, 'Retired': True, 'Yearly Salary (£)': 72838, 'Sex': 'Male', 'Vehicle Make': 'Hyundai', 'Vehicle Model': 'Bonneville', 'Vehicle Year': 2009, 'Vehicle Type': 'Pickup'}

{'Address Street': '00 Wheeler wells', 'Address City': 'Chapmanton', 'Address Postcode': 'L2 7BT', 'Age (Years)': 46, 'Distance Commuted to Work (miles)': 13.72, 'Employer Company': 'Begum-Williams', 'Credit Card Start Date': '08/12', 'Credit Card Expiry Date': '11/26', 'Credit Card Number': 4529436854129855, 'Credit Card CVV': 583, 'Dependants': 1, 'First Name': 'Jonathan', 'Bank IBAN': 'GB37UMCO54540228728019', 'Last Name': 'Thomas', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 0, 'Retired': False, 'Yearly Salary (£)': 54016, 'Sex': 'Male', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'ATS', 'Vehicle Year': 1996, 'Vehicle Type': 'Coupe'}

{'Address Street': 'Studio 33K Joel walk', 'Address City': 'Randallborough', 'Address Postcode': 'ME3N 1GH', 'Age (Years)': 22, 'Distance Commuted to Work (miles)': 16.02, 'Employer Company': 'Hill-Wright', 'Credit Card Start Date': '11/19', 'Credit Card Expiry Date': '07/27', 'Credit Card Number': 4091726363083888495, 'Credit Card CVV': 422, 'Dependants': 1, 'First Name': 'Antony', 'Bank IBAN': 'GB40CVUE84011545859591', 'Last Name': 'Jones', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 0, 'Retired': False, 'Yearly Salary (£)': 68049, 'Sex': 'Male', 'Vehicle Make': 'GMC', 'Vehicle Model': 'Achieva', 'Vehicle Year': 2015, 'Vehicle Type': 'Convertible, Coupe'}

***DATA TYPE CONVERSION SUCCESSFUL!!!***<br>
Apart from the 19 errors due to the presence of blank strings "" in the Dependants column, ***which were all skipped,*** <br>
all other values have been converted to their target datatype (in the converted dictionary)

**Comparing the data types of columns in the 'acw_user_data.csv' file and those in the csv_with_new_type variable**

**Note:**<br>The .create_list_of_lists() method helps to convert the structure of each row/record in a list from a  dictionary into a list.

In [9]:
# Now converting the cleaner csv_dict_list (with appropriate data types) back into a list of lists
# this is so I can zip both lists (csv_data and csv_with_new_type)
# and iterate over them simultaneously
csv_with_new_type = app.create_list_of_lists(csv_dict_list)

In [10]:
print("This is a version of data in the csv file after cleaning up the datatype of some columns\n(e.g, 'Distance Commuted to Work (miles)', 'Yearly Pension (£)', 'Age (Years)', 'Credit Card Number', 'Credit Card CVV', etc).\n")
ind, stop = -1, 3
# print(f"There are {len(new_data_type)} rows.\n")
for old, new in zip(csv_data, csv_with_new_type):
    ind += 1
    if ind == 0:
        continue  # skip the first row (containing column names)
    print(f"LINE {ind}\nBefore Data Conversion:\n{old}\n\nAfter Data Conversion:\n{new}\n\n\n")
    if ind == stop:
        break

This is a version of data in the csv file after cleaning up the datatype of some columns
(e.g, 'Distance Commuted to Work (miles)', 'Yearly Pension (£)', 'Age (Years)', 'Credit Card Number', 'Credit Card CVV', etc).

LINE 1
Before Data Conversion:
['70 Lydia isle', 'Lake Conor', 'S71 7XZ', '89', '0', 'N/A', '08/18', '11/27', '676373692463', '875', '3', 'Kieran', 'GB62PQKB71416034141571', 'Wilson', 'married or civil partner', '7257', 'True', '72838', 'Male', 'Hyundai', 'Bonneville', '2009', 'Pickup']

After Data Conversion:
['70 Lydia isle', 'Lake Conor', 'S71 7XZ', 89, 0.0, 'N/A', '08/18', '11/27', 676373692463, 875, 3, 'Kieran', 'GB62PQKB71416034141571', 'Wilson', 'married or civil partner', 7257, True, 72838, 'Male', 'Hyundai', 'Bonneville', 2009, 'Pickup']



LINE 2
Before Data Conversion:
['00 Wheeler wells', 'Chapmanton', 'L2 7BT', '46', '13.72', 'Begum-Williams', '08/12', '11/26', '4529436854129855', '583', '1', 'Jonathan', 'GB37UMCO54540228728019', 'Thomas', 'married or civil partner', '0', 'False', '54016', 'Male', 'Nissan', 'ATS', '1996', 'Coupe']

After Data Conversion:
['00 Wheeler wells', 'Chapmanton', 'L2 7BT', 46, 13.72, 'Begum-Williams', '08/12', '11/26', 4529436854129855, 583, 1, 'Jonathan', 'GB37UMCO54540228728019', 'Thomas', 'married or civil partner', 0, False, 54016, 'Male', 'Nissan', 'ATS', 1996, 'Coupe']



LINE 3
Before Data Conversion:
['Studio 33K Joel walk', 'Randallborough', 'ME3N 1GH', '22', '16.02', 'Hill-Wright', '11/19', '07/27', '4091726363083888495', '422', '1', 'Antony', 'GB40CVUE84011545859591', 'Jones', 'married or civil partner', '0', 'False', '68049', 'Male', 'GMC', 'Achieva', '2015', 'Convertible, Coupe']

After Data Conversion:
['Studio 33K Joel walk', 'Randallborough', 'ME3N 1GH', 22, 16.02, 'Hill-Wright', '11/19', '07/27', 4091726363083888495, 422, 1, 'Antony', 'GB40CVUE84011545859591', 'Jones', 'married or civil partner', 0, False, 68049, 'Male', 'GMC', 'Achieva', 2015, 'Convertible, Coupe']

### <br>**b) Data Structure Conversion**<br>

Change the structure of each row from flat to nested Structure

In [11]:
# using csv_with_new_type as data source, 
# for each row, classify these columns in the original data set: ['Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type'],
# into a smaller dictionary nested in the row,
# and rename each of the above columns to ['make', 'model', 'year', 'type']
# output is a list of nested dictionaries
group, new_keys, search_for = 'Vehicle', ['make', 'model', 'year', 'type'], ['Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']
data_list = app.classify_from_csv_data(csv_with_new_type, group, search_for, new_keys)
print(f'{group} sub-category created')

There are 1000 rows, and 23 columns in the output list of dictionaries
Vehicle sub-category created

In [12]:
count = 2
print(f"There are {len(data_list)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(data_list, count)

There are 1000 rows.
First 2 rows are given below:

{'Address Street': '70 Lydia isle', 'Address City': 'Lake Conor', 'Address Postcode': 'S71 7XZ', 'Age (Years)': 89, 'Distance Commuted to Work (miles)': 0.0, 'Employer Company': 'N/A', 'Credit Card Start Date': '08/18', 'Credit Card Expiry Date': '11/27', 'Credit Card Number': 676373692463, 'Credit Card CVV': 875, 'Dependants': 3, 'First Name': 'Kieran', 'Bank IBAN': 'GB62PQKB71416034141571', 'Last Name': 'Wilson', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 7257, 'Retired': True, 'Yearly Salary (£)': 72838, 'Sex': 'Male', 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}}

{'Address Street': '00 Wheeler wells', 'Address City': 'Chapmanton', 'Address Postcode': 'L2 7BT', 'Age (Years)': 46, 'Distance Commuted to Work (miles)': 13.72, 'Employer Company': 'Begum-Williams', 'Credit Card Start Date': '08/12', 'Credit Card Expiry Date': '11/26', 'Credit Card Number': 4529436854129855, 'Credit Card CVV': 583, 'Dependants': 1, 'First Name': 'Jonathan', 'Bank IBAN': 'GB37UMCO54540228728019', 'Last Name': 'Thomas', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 0, 'Retired': False, 'Yearly Salary (£)': 54016, 'Sex': 'Male', 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}}

In [13]:
# now using the output of the classify_from_csv_data method above, named data_list, as data source, 
# for each row, classify these columns in the original data set: ['Credit Card Start Date', 'Credit Card Expiry Date', 'Credit Card Number', 'Credit Card CVV', 'Bank IBAN'],
# into a smaller dictionary nested in the row
# and rename each of the above columns to ['start date', 'end date', 'number', 'cvv', 'IBAN']
# output is a list of nested dictionaries
group, new_keys, search_for = 'Credit Card', ['start_date', 'end_date', 'number', 'cvv', 'iban'], ['Credit Card Start Date', 'Credit Card Expiry Date', 'Credit Card Number', 'Credit Card CVV', 'Bank IBAN']
data_list2 = app.classify_from_csv_data(data_list, group, search_for, new_keys)
print(f'{group} sub-category created')

Credit Card sub-category created

In [14]:
count = 2
print(f"There are {len(data_list)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(data_list, count)

There are 1000 rows.
First 2 rows are given below:

{'Address Street': '70 Lydia isle', 'Address City': 'Lake Conor', 'Address Postcode': 'S71 7XZ', 'Age (Years)': 89, 'Distance Commuted to Work (miles)': 0.0, 'Employer Company': 'N/A', 'Dependants': 3, 'First Name': 'Kieran', 'Last Name': 'Wilson', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 7257, 'Retired': True, 'Yearly Salary (£)': 72838, 'Sex': 'Male', 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}, 'Credit Card': {'start_date': '08/18', 'end_date': '11/27', 'number': 676373692463, 'cvv': 875, 'iban': 'GB62PQKB71416034141571'}}

{'Address Street': '00 Wheeler wells', 'Address City': 'Chapmanton', 'Address Postcode': 'L2 7BT', 'Age (Years)': 46, 'Distance Commuted to Work (miles)': 13.72, 'Employer Company': 'Begum-Williams', 'Dependants': 1, 'First Name': 'Jonathan', 'Last Name': 'Thomas', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 0, 'Retired': False, 'Yearly Salary (£)': 54016, 'Sex': 'Male', 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}}

In [15]:
# now using the output of the classify_from_csv_data method above, named data_list2, as data source, 
# for each row, classify these columns in the original data set: ['Address Street', 'Address City', 'Address Postcode']
# into a smaller dictionary nested in the row
# and rename each of the above columns to ['street', 'city', 'postcode']
# output is a list of nested dictionaries
group, new_keys, search_for =  'Address', ['street', 'city', 'postcode'], ['Address Street', 'Address City', 'Address Postcode']
final_data = app.classify_from_csv_data(data_list2, group, search_for, new_keys)
print(f'{group} sub-category created')

Address sub-category created

In [16]:
count = 2
print(f"There are {len(data_list)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(data_list, count)

There are 1000 rows.
First 2 rows are given below:

{'Age (Years)': 89, 'Distance Commuted to Work (miles)': 0.0, 'Employer Company': 'N/A', 'Dependants': 3, 'First Name': 'Kieran', 'Last Name': 'Wilson', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 7257, 'Retired': True, 'Yearly Salary (£)': 72838, 'Sex': 'Male', 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}, 'Credit Card': {'start_date': '08/18', 'end_date': '11/27', 'number': 676373692463, 'cvv': 875, 'iban': 'GB62PQKB71416034141571'}, 'Address': {'street': '70 Lydia isle', 'city': 'Lake Conor', 'postcode': 'S71 7XZ'}}

{'Age (Years)': 46, 'Distance Commuted to Work (miles)': 13.72, 'Employer Company': 'Begum-Williams', 'Dependants': 1, 'First Name': 'Jonathan', 'Last Name': 'Thomas', 'Marital Status': 'married or civil partner', 'Yearly Pension (£)': 0, 'Retired': False, 'Yearly Salary (£)': 54016, 'Sex': 'Male', 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}, 'Address': {'street': '00 Wheeler wells', 'city': 'Chapmanton', 'postcode': 'L2 7BT'}}

---

### TASK 3: 
The client informs you that they have had difficulty with errors in the dependants 
column.<br> Some entries are empty (i.e. “ “ or “”), which may hinder your conversion 
from Task 2. <br>These should be changed into something meaningful when 
encountered. <br>
**Print a list where all such error corrections take place.** <br>
E.g. Problematic rows for dependants: [16, 58, 80, 98]

#### SOLUTION:

In [17]:
fpath = 'acw_user_data.csv'
csv_data_dict = app.create_list_of_dicts(fpath)

There are 1000 rows, and 23 columns in the output list of dictionaries

**Note:**<br>
The .validate_empty_str() method displays the rows containing blank str values for the given column name (in this case, 'Dependants').<br>
And returns the list of dictionaries with each blank str replaced with None

In [18]:
col_name = 'Dependants'
valid_csv_data = app.validate_empty_str(csv_data_dict, col_name)

Problematic rows for Dependants: [21, 109, 179, 205, 270, 272, 274, 358, 460, 468, 579, 636, 679, 725, 822, 865, 917, 931, 983]
19 rows

In [19]:
empty_str = [21, 109, 179, 205, 270, 272, 274, 358, 460, 468, 579, 636, 679, 725, 822, 865, 917, 931, 983]
count, stop = 0, 3
print(f'First {stop} rows in the {col_name} column are given below:\n\n')
for ind in range(len(valid_csv_data)):
    if ind not in empty_str:
        continue
    print(valid_csv_data[ind]['Dependants'])
    if count == stop - 1:
        break
    count += 1

First 3 rows in the Dependants column are given below:


None
None
None

___ 

### TASK 4: 
Write all records to a **processed.json** file in the JSON data format. <br>
This should be a **list of dictionaries**, where each index of the list is a dictionary representing a singular 
person.

#### SOLUTION:

#### Highlights of steps taken to generate processed.json file:

1. Change data types

In [20]:
fpath = 'acw_user_data.csv'

converter = {'float': 'Distance Commuted to Work (miles)',
             'bool': 'Retired',
             'int': ('Age (Years)', 'Yearly Pension (£)', 'Yearly Salary (£)', 
                     'Credit Card Number', 'Credit Card CVV', 'Vehicle Year', 'Dependants')}

csv_with_new_type = app.dtype_converter(fpath, converter)

invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored

2. Create  in each row, 3 sub-dictionaries containing 'Vehicle', 'Credit Card' and 'Address' collections.

In [21]:
group, new_keys, search_for = 'Vehicle', ['make', 'model', 'year', 'type'], ['Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']
data_list = app.classify_from_csv_data(csv_with_new_type, group, search_for, new_keys)
print(f'{group} sub-category created')

group, new_keys, search_for = 'Credit Card', ['start_date', 'end_date', 'number', 'cvv', 'iban'], ['Credit Card Start Date', 'Credit Card Expiry Date', 'Credit Card Number', 'Credit Card CVV', 'Bank IBAN']
data_list2 = app.classify_from_csv_data(data_list, group, search_for, new_keys)
print(f'{group} sub-category created')

group, new_keys, search_for =  'Address', ['street', 'city', 'postcode'], ['Address Street', 'Address City', 'Address Postcode']
final_data = app.classify_from_csv_data(data_list2, group, search_for, new_keys)
print(f'{group} sub-category created')

Vehicle sub-category created
Credit Card sub-category created
Address sub-category created

#### Hence, as I aim to replicate the output in the screenshot of the example "processed.json" shown in page 5 of the "ProgDSAI_ACW.pdf" file,<br> 
I have gone further to ***rename each column*** to what I saw in the example 'processed.json'.<br> 
Then, I ***sorted each column*** to appear like in the example screenshot.<br>
Such that in each row, 'first_name' column appears first, followed by 'second_name', then 'age', 'sex', etc.

3. Rename some columns from their default name to simpler ones, using the 'old' and 'new' lists to guide the process.<br>
E.g <br>
'First Name' -> 'first_name',<br>
'Last Name' -> 'second_name',<br>
'Yearly Salary (£)' -> 'salary',<br>
etc<br>
***As shown in page 5 of the "ProgDSAI_ACW.pdf" file***

In [22]:
old = ['First Name', 'Last Name', 'Age (Years)', 'Sex', 'Retired', 'Marital Status',
       'Dependants', 'Yearly Salary (£)', 'Yearly Pension (£)', 'Employer Company', 'Distance Commuted to Work (miles)']

new = ['first_name', 'second_name', 'age', 'sex', 'retired', 'marital_status',
       'dependants', 'salary', 'pension', 'company', 'commute_distance']

renamed_data = app.rename_col_names_in_json(final_data, old, new)

In [23]:
count = 3
print(f"There are {len(renamed_data)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(renamed_data, count)

There are 1000 rows.
First 3 rows are given below:

{'age': 89, 'commute_distance': 0.0, 'company': 'N/A', 'dependants': 3, 'first_name': 'Kieran', 'second_name': 'Wilson', 'marital_status': 'married or civil partner', 'pension': 7257, 'retired': True, 'salary': 72838, 'sex': 'Male', 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}, 'Credit Card': {'start_date': '08/18', 'end_date': '11/27', 'number': 676373692463, 'cvv': 875, 'iban': 'GB62PQKB71416034141571'}, 'Address': {'street': '70 Lydia isle', 'city': 'Lake Conor', 'postcode': 'S71 7XZ'}}

{'age': 46, 'commute_distance': 13.72, 'company': 'Begum-Williams', 'dependants': 1, 'first_name': 'Jonathan', 'second_name': 'Thomas', 'marital_status': 'married or civil partner', 'pension': 0, 'retired': False, 'salary': 54016, 'sex': 'Male', 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}, 'Address': {'street': '00 Wheeler wells', 'city': 'Chapmanton', 'postcode': 'L2 7BT'}}

{'age': 22, 'commute_distance': 16.02, 'company': 'Hill-Wright', 'dependants': 1, 'first_name': 'Antony', 'second_name': 'Jones', 'marital_status': 'married or civil partner', 'pension': 0, 'retired': False, 'salary': 68049, 'sex': 'Male', 'Vehicle': {'make': 'GMC', 'model': 'Achieva', 'year': 2015, 'type': 'Convertible, Coupe'}, 'Credit Card': {'start_date': '11/19', 'end_date': '07/27', 'number': 4091726363083888495, 'cvv': 422, 'iban': 'GB40CVUE84011545859591'}, 'Address': {'street': 'Studio 33K Joel walk', 'city': 'Randallborough', 'postcode': 'ME3N 1GH'}}

4. Sort each row to appear in the order given by 'order_of_appearance' list.<br>
***To resemble what was seen on page 5 of the "ProgDSAI_ACW.pdf" file***

In [24]:
order_of_appearance = ['first_name', 'second_name', 'age', 'sex', 'retired', 'marital_status', 
                       'dependants', 'salary', 'pension','company', 'commute_distance']

sorted_data = app.sort_col_names(renamed_data, order_of_appearance)

In [25]:
count = 3
print(f"There are {len(sorted_data)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(sorted_data, count)

There are 1000 rows.
First 3 rows are given below:

{'first_name': 'Kieran', 'second_name': 'Wilson', 'age': 89, 'sex': 'Male', 'retired': True, 'marital_status': 'married or civil partner', 'dependants': 3, 'salary': 72838, 'pension': 7257, 'company': 'N/A', 'commute_distance': 0.0, 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}, 'Credit Card': {'start_date': '08/18', 'end_date': '11/27', 'number': 676373692463, 'cvv': 875, 'iban': 'GB62PQKB71416034141571'}, 'Address': {'street': '70 Lydia isle', 'city': 'Lake Conor', 'postcode': 'S71 7XZ'}}

{'first_name': 'Jonathan', 'second_name': 'Thomas', 'age': 46, 'sex': 'Male', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 1, 'salary': 54016, 'pension': 0, 'company': 'Begum-Williams', 'commute_distance': 13.72, 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}, 'Address': {'street': '00 Wheeler wells', 'city': 'Chapmanton', 'postcode': 'L2 7BT'}}

{'first_name': 'Antony', 'second_name': 'Jones', 'age': 22, 'sex': 'Male', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 1, 'salary': 68049, 'pension': 0, 'company': 'Hill-Wright', 'commute_distance': 16.02, 'Vehicle': {'make': 'GMC', 'model': 'Achieva', 'year': 2015, 'type': 'Convertible, Coupe'}, 'Credit Card': {'start_date': '11/19', 'end_date': '07/27', 'number': 4091726363083888495, 'cvv': 422, 'iban': 'GB40CVUE84011545859591'}, 'Address': {'street': 'Studio 33K Joel walk', 'city': 'Randallborough', 'postcode': 'ME3N 1GH'}}

5. Save to filesystem as "processed.json"

In [26]:
# Write data contained in the "sorted_data" list to a JSON file named "processed.json"
filename = "processed.json"
app.write_json_file_from_dictlist(filename, sorted_data)

processed.json

___
### TASK 5: 
You should **create two additional file outputs, retired.json and employed.json**,<br>
these should contain all retired customers (as indicated by the retired field in the 
CSV), and all employed customers respectively (as indicated by the employer field in 
the CSV)<br> and be in the JSON data format.

#### SOLUTION:

In [27]:
# Use the .read_from_json() method, read in data from the processed.json file
# and assign to filename variable for later use
filename = "processed.json"
cust_dict_list = app.read_from_json(filename)

**Note:** <br>Using the .filter_dictlist() method, I'm going to collect and store in a variable,<br>
Only rows in the given column where the value matches the given condition(s)

In [28]:
col_names = ('retired', 'company')  # column_names whose values are to be checked

In [29]:
# collect only those records where 'Retired' is 'True' and assign to variable
retired_customers = app.filter_dictlist(cust_dict_list, col_names[0], True)

Result now has 246 customers

In [30]:
# collect only those records where 'Employer Company' != 'N/A' and assign to variable
employed_customers = app.filter_dictlist(cust_dict_list, col_names[1], 'N/A', use_opposite_cond=True)

Result now has 754 customers

In [31]:
len(retired_customers)+len(employed_customers)

1000

**Write data in list of dict format to a JSON file**

In [32]:
rfile, efile = 'retired.json', 'employed.json'  # filenames for JSON files assigned to variables

The .write_json_file_from_dictlist() method helps to create a JSON file with the given name in the 'OutputFiles' folder

In [33]:
app.write_json_file_from_dictlist(rfile, retired_customers)

retired.json

In [34]:
app.write_json_file_from_dictlist(efile, employed_customers)

employed.json

---

### TASK 6: 
The client states that there may be some issues with credit card entries. <br>Any 
customers that have **more than 10 years** between their start and end date need 
writing to a separate file, called **remove_ccard.json**, in the JSON data format.<br> The
client will manually deal with these later based on your output. They request that you 
**write a function to help perform this**, which accepts a single row from the CSV data, 
and outputs whether the row should be flagged. <br>This can then be used when 
determining whether to write the current person to the remove_ccard file.

#### SOLUTION:

Creating 'remove_ccard.json' from the 'acw_user_data.csv' file

Step 1.<br>
Create a list of dictionary directly from the 'acw_user_data.csv' file

In [35]:
fpath = 'acw_user_data.csv'
cust_dict_list = app.create_list_of_dicts(fpath)

There are 1000 rows, and 23 columns in the output list of dictionaries

Step 2.<br>
Change some column values to more appropriate data types.

In [36]:
converter = {'float': 'Distance Commuted to Work (miles)',
             'bool': 'Retired',
             'int': ('Age (Years)', 'Yearly Pension (£)', 'Yearly Salary (£)', 'Credit Card Number', 'Credit Card CVV', 'Vehicle Year', 'Dependants')}
csv_with_new_type = app.dtype_converter(cust_dict_list, converter)

invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored
invalid literal for int() with base 10: ''
Data  ignored

Step 3.<br>
Create 3 sub-dictionaries ('Vehicle', 'Credit Card', 'Address') in each row.

In [37]:
group, new_keys, search_for = 'Vehicle', ['make', 'model', 'year', 'type'], ['Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']
data_list = app.classify_from_csv_data(cust_dict_list, group, search_for, new_keys)
print(f'{group} sub-category created')

group, new_keys, search_for = 'Credit Card', ['start_date', 'end_date', 'number', 'cvv', 'iban'], ['Credit Card Start Date', 'Credit Card Expiry Date', 'Credit Card Number', 'Credit Card CVV', 'Bank IBAN']
data_list2 = app.classify_from_csv_data(data_list, group, search_for, new_keys)
print(f'{group} sub-category created')

group, new_keys, search_for =  'Address', ['street', 'city', 'postcode'], ['Address Street', 'Address City', 'Address Postcode']
final_data = app.classify_from_csv_data(data_list2, group, search_for, new_keys)
print(f'{group} sub-category created')

Vehicle sub-category created
Credit Card sub-category created
Address sub-category created

Step 4.<br>
Rename column from values in the list, 'old' to corresponding values in the list, 'new'.

In [38]:
old = ['First Name', 'Last Name', 'Age (Years)', 'Sex', 'Retired', 'Marital Status', 'Dependants', 'Yearly Salary (£)',
      'Yearly Pension (£)', 'Employer Company', 'Distance Commuted to Work (miles)']
new = ['first_name', 'second_name', 'age', 'sex', 'retired', 'marital_status', 'dependants', 'salary', 'pension',
      'company', 'commute_distance']

In [39]:
renamed_data = app.rename_col_names_in_json(final_data, old, new)

In [40]:
count = 3
print(f"There are {len(renamed_data)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(renamed_data, count)

There are 1000 rows.
First 3 rows are given below:

{'age': 89, 'commute_distance': 0.0, 'company': 'N/A', 'dependants': 3, 'first_name': 'Kieran', 'second_name': 'Wilson', 'marital_status': 'married or civil partner', 'pension': 7257, 'retired': True, 'salary': 72838, 'sex': 'Male', 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}, 'Credit Card': {'start_date': '08/18', 'end_date': '11/27', 'number': 676373692463, 'cvv': 875, 'iban': 'GB62PQKB71416034141571'}, 'Address': {'street': '70 Lydia isle', 'city': 'Lake Conor', 'postcode': 'S71 7XZ'}}

{'age': 46, 'commute_distance': 13.72, 'company': 'Begum-Williams', 'dependants': 1, 'first_name': 'Jonathan', 'second_name': 'Thomas', 'marital_status': 'married or civil partner', 'pension': 0, 'retired': False, 'salary': 54016, 'sex': 'Male', 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}, 'Address': {'street': '00 Wheeler wells', 'city': 'Chapmanton', 'postcode': 'L2 7BT'}}

{'age': 22, 'commute_distance': 16.02, 'company': 'Hill-Wright', 'dependants': 1, 'first_name': 'Antony', 'second_name': 'Jones', 'marital_status': 'married or civil partner', 'pension': 0, 'retired': False, 'salary': 68049, 'sex': 'Male', 'Vehicle': {'make': 'GMC', 'model': 'Achieva', 'year': 2015, 'type': 'Convertible, Coupe'}, 'Credit Card': {'start_date': '11/19', 'end_date': '07/27', 'number': 4091726363083888495, 'cvv': 422, 'iban': 'GB40CVUE84011545859591'}, 'Address': {'street': 'Studio 33K Joel walk', 'city': 'Randallborough', 'postcode': 'ME3N 1GH'}}

Step 5.<br>
Sort columns in each row according to how they appear in the 'order_of_appearance' list.

In [41]:
order_of_appearance = ['first_name', 'second_name', 'age', 'sex', 'retired', 'marital_status', 
                       'dependants', 'salary', 'pension','company', 'commute_distance']
sorted_data = app.sort_col_names(renamed_data, order_of_appearance)

In [42]:
count = 3
print(f"There are {len(sorted_data)} rows.\nFirst {count} rows are given below:\n")
app.display_lines_in_list(sorted_data, count)

There are 1000 rows.
First 3 rows are given below:

{'first_name': 'Kieran', 'second_name': 'Wilson', 'age': 89, 'sex': 'Male', 'retired': True, 'marital_status': 'married or civil partner', 'dependants': 3, 'salary': 72838, 'pension': 7257, 'company': 'N/A', 'commute_distance': 0.0, 'Vehicle': {'make': 'Hyundai', 'model': 'Bonneville', 'year': 2009, 'type': 'Pickup'}, 'Credit Card': {'start_date': '08/18', 'end_date': '11/27', 'number': 676373692463, 'cvv': 875, 'iban': 'GB62PQKB71416034141571'}, 'Address': {'street': '70 Lydia isle', 'city': 'Lake Conor', 'postcode': 'S71 7XZ'}}

{'first_name': 'Jonathan', 'second_name': 'Thomas', 'age': 46, 'sex': 'Male', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 1, 'salary': 54016, 'pension': 0, 'company': 'Begum-Williams', 'commute_distance': 13.72, 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}, 'Address': {'street': '00 Wheeler wells', 'city': 'Chapmanton', 'postcode': 'L2 7BT'}}

{'first_name': 'Antony', 'second_name': 'Jones', 'age': 22, 'sex': 'Male', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 1, 'salary': 68049, 'pension': 0, 'company': 'Hill-Wright', 'commute_distance': 16.02, 'Vehicle': {'make': 'GMC', 'model': 'Achieva', 'year': 2015, 'type': 'Convertible, Coupe'}, 'Credit Card': {'start_date': '11/19', 'end_date': '07/27', 'number': 4091726363083888495, 'cvv': 422, 'iban': 'GB40CVUE84011545859591'}, 'Address': {'street': 'Studio 33K Joel walk', 'city': 'Randallborough', 'postcode': 'ME3N 1GH'}}

**Note:**<br>
The .cc_duration_is_above_decade_detector() method helps to detect when the difference between two dates in 'mm/yy' format is greater than 10 years.<br>
It takes in one dictionary (row) as its data source, and extracts the date values in 'start_date' and 'end_date' arguments respectively.<br>
Then, it ***returns True*** if number of years between both dates is greater than 10 and ***False otherwise.***<br>
Below, I shall only be checking for the **first ten dictionaries in "cust_dict_list"**, as I avoid having to go through the entire list of dictionaries.

In [43]:
# filter customer records with the help of the detector method
# thus, in order for us to use the decade_detector method with a collection of dictionaries
# there is need for us to iterate through the list of dicts while calling the method each time
start_date_col_name, end_date_col_name = "start_date", "end_date"
stop_at = 10
ind = 0
while ind < stop_at:  # iterating over each row of dictionary record
    # print True for customers whose cc_duration is above 10 years and False if less than or equal to 10 yrs
    print(app.cc_duration_is_above_decade_detector(sorted_data[ind], start_date_col_name, end_date_col_name))
    ind += 1

False
True
False
False
False
False
True
True
False
False

Now, through a list comprehension, I shall collect and store, each dictionary output of the .cc_duration_is_above_decade_detector() method as rows.<br>
And then, assign the resulting list to a variable called, ***"customers_with_above_10yr_duration_cc"***,<br>
which contains the records of customers whose cc_duration is above ten years in the json file

In [44]:
start_date_col_name, end_date_col_name = "start_date", "end_date"
customers_with_above_10yr_duration_cc = [sorted_data[ind] for ind in range(len(sorted_data)) if app.cc_duration_is_above_decade_detector(sorted_data[ind], start_date_col_name, end_date_col_name)]

In [45]:
# displaying the first 3 rows in output data read from acw_user_data.csv file
count = 3
print(f"There are {len(customers_with_above_10yr_duration_cc)} rows.\nFirst {count} credit cards still having over ten year duration:\n\n")
app.display_lines_in_list(customers_with_above_10yr_duration_cc, count)

There are 193 rows.
First 3 credit cards still having over ten year duration:


{'first_name': 'Jonathan', 'second_name': 'Thomas', 'age': 46, 'sex': 'Male', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 1, 'salary': 54016, 'pension': 0, 'company': 'Begum-Williams', 'commute_distance': 13.72, 'Vehicle': {'make': 'Nissan', 'model': 'ATS', 'year': 1996, 'type': 'Coupe'}, 'Credit Card': {'start_date': '08/12', 'end_date': '11/26', 'number': 4529436854129855, 'cvv': 583, 'iban': 'GB37UMCO54540228728019'}, 'Address': {'street': '00 Wheeler wells', 'city': 'Chapmanton', 'postcode': 'L2 7BT'}}

{'first_name': 'Julian', 'second_name': 'Potter', 'age': 43, 'sex': 'Male', 'retired': False, 'marital_status': 'single', 'dependants': 3, 'salary': 96645, 'pension': 0, 'company': 'Clark Group', 'commute_distance': 20.05, 'Vehicle': {'make': 'Lexus', 'model': 'S-Series', 'year': 1998, 'type': 'Van/Minivan'}, 'Credit Card': {'start_date': '07/12', 'end_date': '03/29', 'number': 36970652008212, 'cvv': 622, 'iban': 'GB92PWOB18937027850061'}, 'Address': {'street': '24 Heather locks', 'city': 'New Mathew', 'postcode': 'WD10 1LX'}}

{'first_name': 'Clive', 'second_name': 'Evans', 'age': 67, 'sex': 'Male', 'retired': True, 'marital_status': 'single', 'dependants': 1, 'salary': 27964, 'pension': 28075, 'company': 'N/A', 'commute_distance': 0.0, 'Vehicle': {'make': 'Volvo', 'model': 'Express 3500 Passenger', 'year': 2013, 'type': 'SUV'}, 'Credit Card': {'start_date': '07/15', 'end_date': '04/27', 'number': 213199489183130, 'cvv': 389, 'iban': 'GB04VSAZ69128049616822'}, 'Address': {'street': '81 Goodwin dam', 'city': 'Griffinstad', 'postcode': 'G3 7ZX'}}

**Write data in list of dict format to a JSON file**

In [46]:
newfile_name =  "remove_ccard.json"
app.write_json_file_from_dictlist(newfile_name, customers_with_above_10yr_duration_cc)

remove_ccard.json

___
### TASK 7: 
You have been tasked with calculating some additional metrics which will be used for 
ranking customers. <br>You should **create a new data attribute for our customers called 
“Salary-Commute”**.<br> **Reading in from processed.json**: <br>
a. Add, and calculate appropriately, this new attribute. <br>It should represent the 
**Salary** that a customer earns, **per mile** of their commute. <br>
i. Note: <br>If a person travels 1 or fewer commute miles, then their salarycommute would be just their salary.<br>
b. **Sort these records by that new metric, in ascending order**. <br>
c. Store the output file out as a JSON format, for a **commute.json file.**

#### SOLUTION:

The .column1_per_column2_from_json_file() method helps to compute the values of column1 as a fraction of column2.<br>
That is, column1/column2. And returns the calculated fraction.

In [47]:
# read in data from the "processed.json" file, internally using the .read_from_json() method to achieve this,
# and assign to filename variable for later use
filename = "processed.json"
col_name1, col_name2, new_col_name = "salary", 'commute_distance', 'Salary-Commute'

sal_comm = app.column1_per_column2_from_json_file(filename, col_name1, col_name2, new_col_name)

In [48]:
count = 3
print(f"There are {len(sal_comm)} rows.\nFirst {count} rows are:\n")
app.display_lines_in_list(sal_comm, count)

There are 1000 rows.
First 3 rows are:

{'first_name': 'Graeme', 'second_name': 'Jackson', 'age': 52, 'sex': 'Male', 'retired': False, 'marital_status': 'single', 'dependants': 2, 'salary': 17046, 'pension': 0, 'company': 'Smith, Birch and Burke', 'commute_distance': 5.52, 'Vehicle': {'make': 'Chevrolet', 'model': 'Rally Wagon 1500', 'year': 2011, 'type': 'SUV'}, 'Credit Card': {'start_date': '06/14', 'end_date': '04/29', 'number': 4713424668774153, 'cvv': 3053, 'iban': 'GB09ELJH35362236053720'}, 'Address': {'street': 'Studio 9 Reid lights', 'city': 'South Ryan', 'postcode': 'E27 9GY'}, 'Salary-Commute': 3088.04}

{'first_name': 'Janet', 'second_name': 'Quinn', 'age': 30, 'sex': 'Female', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 1, 'salary': 17428, 'pension': 0, 'company': 'Wood-Davies', 'commute_distance': 5.64, 'Vehicle': {'make': 'Audi', 'model': 'Land Cruiser', 'year': 2000, 'type': 'SUV'}, 'Credit Card': {'start_date': '02/12', 'end_date': '02/25', 'number': 180012621284154, 'cvv': 392, 'iban': 'GB47KCJL06712308674300'}, 'Address': {'street': 'Studio 34r Wilkinson camp', 'city': 'Louisland', 'postcode': 'G7H 8FA'}, 'Salary-Commute': 3090.07}

{'first_name': 'Peter', 'second_name': 'Burton', 'age': 63, 'sex': 'Male', 'retired': False, 'marital_status': 'married or civil partner', 'dependants': 2, 'salary': 17245, 'pension': 0, 'company': 'Graham, Watts and Hall', 'commute_distance': 5.58, 'Vehicle': {'make': 'Dodge', 'model': 'Sorento', 'year': 2016, 'type': 'Sedan, Coupe, Hatchback'}, 'Credit Card': {'start_date': '11/12', 'end_date': '07/22', 'number': 4058253691525, 'cvv': 458, 'iban': 'GB30EGRJ34862965423758'}, 'Address': {'street': 'Studio 38 James throughway', 'city': 'Leighton', 'postcode': 'M8E 7HJ'}, 'Salary-Commute': 3090.5}

**Write data in list of dict format to a JSON file**

In [49]:
newfile_name = "commute.json"
app.write_json_file_from_dictlist(newfile_name, sal_comm)

commute.json

---

#### <center>DATA PROCESSING TASKS DONE!

---